<div id="sidebar" class="app-sidebar">
  <div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
    <div class="menu">
      <div class="menu-profile">
        <a href="javascript:;" class="menu-profile-link" data-toggle="app-sidebar-profile" data-target="#appSidebarProfileMenu">
          <div class="menu-profile-cover with-shadow"></div>
          <div class="menu-profile-image">
            <!-- <img src="" alt="" /> -->
          </div>
          <div class="menu-profile-info">
            <div class="d-flex align-items-center">
              <div class="flex-grow-1">CMS</div>
              <div class="menu-caret ms-auto"></div>
            </div>
            <small>Administrator</small>
          </div>
        </a>
      </div>
      <div id="appSidebarProfileMenu" class="collapse">
        <div class="menu-item pt-5px">
          <a href="javascript:;" class="menu-link">
            <div class="menu-icon"><i class="fa fa-cog"></i></div>
            <div class="menu-text">Settings</div>
          </a>
        </div>
        <div class="menu-item">
          <a href="javascript:;" class="menu-link">
            <div class="menu-icon"><i class="fa fa-pencil-alt"></i></div>
            <div class="menu-text">Send Feedback</div>
          </a>
        </div>
        <div class="menu-item pb-5px">
          <a href="javascript:;" class="menu-link">
            <div class="menu-icon">
              <i class="fa fa-question-circle"></i>
            </div>
            <div class="menu-text">Helps</div>
          </a>
        </div>
        <div class="menu-divider m-0"></div>
      </div>
      <div class="menu-header">Main menu</div>

      <!-- POS -->
      <div class="menu-item">
        <a href="/admin" class="menu-link">
          <div class="menu-icon">
            <i class="fa fa-globe"></i>
          </div>
          <div class="menu-text">
            Dashboard
          </div>
        </a>
      </div>
      <!-- * POS -->

      <!-- Category Management -->
      <div class="menu-item has-sub">
        <a href="javascript:;" class="menu-link">
          <div class="menu-icon">
            <i class="fa fa-sitemap"></i>
          </div>
          <div class="menu-text">Quản lý danh mục</div>
          <div class="menu-caret"></div>
        </a>
        <div class="menu-submenu">
          <div class="menu-item">
            <a href="/admin/category" class="menu-link"><div class="menu-text">Danh sách</div></a>
          </div>
          <div class="menu-item">
            <a href="/admin/category/add" class="menu-link"><div class="menu-text">Thêm mới</div></a>
          </div>
        </div>
      </div>
      <!-- * Category Management -->

      <!-- User Management -->
      <div class="menu-item has-sub">
        <a href="javascript:;" class="menu-link">
          <div class="menu-icon">
            <i class="fa fa-user-gear"></i>
          </div>
          <div class="menu-text">Quản lý người dùng</div>
          <div class="menu-caret"></div>
        </a>
        <div class="menu-submenu">
          <div class="menu-item">
            <a href="/admin/user" class="menu-link"><div class="menu-text">Danh sách</div></a>
          </div>
          <div class="menu-item">
            <a href="/admin/user/add" class="menu-link"><div class="menu-text">Thêm mới</div></a>
          </div>
        </div>
      </div>
      <!-- * User Management -->

      <!-- Brand Management -->
      <div class="menu-item has-sub">
        <a href="javascript:;" class="menu-link">
          <div class="menu-icon">
            <i class="fa fa-gears"></i>
          </div>
          <div class="menu-text">Quản lý thương hiệu</div>
          <div class="menu-caret"></div>
        </a>
        <div class="menu-submenu">
          <div class="menu-item">
            <a href="/admin/brand" class="menu-link"><div class="menu-text">Danh sách</div></a>
          </div>
          <div class="menu-item">
            <a href="/admin/brand/add" class="menu-link"><div class="menu-text">Thêm mới</div></a>
          </div>
        </div>
      </div>
      <!-- * Brand Management -->

      <!-- Product Management -->
      <div class="menu-item has-sub">
        <a href="javascript:;" class="menu-link">
          <div class="menu-icon">
            <i class="fa fa-box"></i>
          </div>
          <div class="menu-text">Quản lý sản phẩm</div>
          <div class="menu-caret"></div>
        </a>
        <div class="menu-submenu">
          <div class="menu-item">
            <a href="/admin/product" class="menu-link"><div class="menu-text">Danh sách</div></a>
          </div>
          <div class="menu-item">
            <a href="/admin/product/add" class="menu-link"><div class="menu-text">Thêm mới</div></a>
          </div>
        </div>
      </div>
      <!-- * Product Management -->

      <div class="menu-item has-sub">
        <a href="/admin/lading" class="menu-link">
          <div class="menu-icon">
            <i class="fa fa-truck-fast"></i>
          </div>
          <div class="menu-text">Quản lý vận đơn</div>
        </a>
      </div>

      <div class="menu-item has-sub">
        <a href="/admin/order" class="menu-link">
          <div class="menu-icon">
            <i class="fa fa-cart-shopping"></i>
          </div>
          <div class="menu-text">Quản lý đơn hàng</div>
          <div class="menu-badge">10</div>
        </a>
      </div>

      <!-- POS -->
      <div class="menu-item">
        <a href="/admin/order/pos" class="menu-link">
          <div class="menu-icon">
            <i class="fa fa-cash-register"></i>
          </div>
          <div class="menu-text">
            POS <span class="menu-label">New</span>
          </div>
        </a>
      </div>
      <!-- * POS -->

      <div class="menu-item d-flex">
        <a href="javascript:;" class="app-sidebar-minify-btn ms-auto d-flex align-items-center text-decoration-none" data-toggle="app-sidebar-minify" ><i class="fa fa-angle-double-left"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="app-sidebar-bg"></div>
<div class="app-sidebar-mobile-backdrop">
  <a href="#" data-dismiss="app-sidebar-mobile" class="stretched-link"></a>
</div>
